header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #82b0ff;
    border-bottom: 10px  solid #1a6b3d ;
    padding: 10px 20px;
}

#avatar {
    box-shadow: 5px 5px 0px #17111a;
    border-radius: 3px;
}

nav { 
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    text-shadow: 0px 1px 0px #17111a;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #ffbf36;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    font-family: "Press Start 2P";
    display: inline-block;
    border-radius: 3px;
    background-color: #ffbf36;
    box-shadow: 5px 5px 0px #17111a;
    padding: 18px 20px;
    transition: transform 50ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

#button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}