.action {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    text-shadow: 0px 2px 0px #17111a;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.action:hover {
    opacity: 0.6;
}

.action::before {
    content: "";
    background-color: #ffbf36;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}