.banner-container {
    background-image: url(../../assets/img/photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 24rem;
    border-bottom: 10px solid #17111a;
    padding-top: 115px;
    padding-left: 90px;
}

.banner-container .wrapper {
    display: flex;
    flex-direction: column;
    width: 630px;
}

.banner-container .navigation {
    display: grid;
    gap: 1rem;
    padding: 0 44px 0 44px ;
    grid-auto-flow: column;
}