.link-button {
    display: inline-block;
    font-family: "Press Start 2P", sans-serif;
    font-size: 15px;
    border-radius: 3px;
    background-color: #ffbf36;
    box-shadow: 5px 5px 0px #17111a;
    padding: 18px 20px;
    color: #FFF;
    text-shadow: 2px 2px 0 #17111a;
    text-decoration: none;
    transition: 150ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.link-button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.link-button.-send {
    width: 100%;
}

.link-button.-send:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.link-button.-backtop {
    position: fixed;
    right:20px;
    bottom: 20px;
    background-color: #3c3b39;
}