.main-title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 24px;
    color: #ffbf36;
    text-shadow: 2px 2px 0 #17111a;
    text-align: left;
}

.main-title.-second {
    color: #FFF;
    text-align: center;
}