.node-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.node-card::before {
    content: "";
    box-sizing: border-box;
    height: 0px;
    width: 35px;
    border: 2.5px dashed #FFF;
    transform: rotate(-90deg) translateX(-60px);
}


.node-card .logo {
    margin: 30px;
    padding: 20px;
    margin-top: 60px;
    border: 5px solid #FFF;
    box-shadow: 10px 10px 0 #FFF;
}