.project-view {
    display: inline-flex;
    flex-direction: column;
    text-decoration: none;
}

.project-view .project {
    display: block;
    box-shadow: 10px 10px 0 #17111a;
    margin-bottom: 20px;
    border: 5px solid #17111a;
}


.project-view .project:hover {
    display: block;
    filter: contrast(150%);
}

.project-view .title {
    text-align: center;
    text-shadow: 1px 1px #17111a;
    color: #FFF;
}

