.section-container {
    background-color: #ffbf36;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #17111a;
}

.section-container .main-title {
    margin-bottom: 60px;
}

.section-container.-second {
    background-color: #3c3b39;
}