.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffbf36;
}

.skills .skill_items {
    display: flex;
    height: 480px;
}

.skill_item {
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 430px;
    margin-bottom: 40px ;
}

.skill_item .skill_name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill_name .skill_title {
    font-family: "Press Start 2P";
    font-size: 25px;
    color: #17111a;
}

.skill_name .skill_bar {
    background-color: #FFF;
    width: 320px;
    height: 30px;
    border: 5px solid #17111a;
}

.skill_bar .skill_progress {
    background-color: #3c3b39;
    height: 30px;
    width: 210px;
}
