.skill-tec {
    display: flex;
}

.skill-tec .icon {
    margin-right: 25px;
}

.skill-tec .icon:hover {
    transform: rotateZ(-2deg);
}

.skill-tec .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right .title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 20px;
    color: #17111a;
}
