.slider-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.slider-wrapper .slide {
    flex: 0 0 auto;
    width: 280px;
    height: 280px;
    margin: 10px;
    border: 2px solid #000;
}